<footer class="footer bg-success rounded-top text-center">
    <div class="container py-2">
        <p class="text-white my-2">
           Esta app fue creada por &copy; {{ autor.nombre + ' ' + autor.apellido }} usando 
           <a href="https://angular.io/"><img src="/assets/img/angular-logo.png" alt="logo-angular" style="width: 2%" class="mx-1"></a>
           y
           <a href="https://spring.io/"><img src="/assets/img/spring-logo.png" alt="logo-spring" style="width: 8%" class="mx-1"></a>            
        </p>
    </div>
</footer>